:root {
  --c1: #011638;
  --c2: #364156;
  --c3: #CDCDCD;
  --c4: #DFF8EB;

}

/* 
  .pic-home{
    width: 50%;
    height: 50%;
    z-index: -1;
  } */

.home-title{
  color:var(--c2);
}

.navbar{
background-color: var(--c1);  
    color: white !important;
    font-weight: 700;
    text-decoration: underline var(--c);
  }

  .f-holder{
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .logo-land{
    width: 100%;
    z-index: -2;
    position: fixed;
    top: 10%;
  }
  .land{
    width: 100%;
    height: fit-content !important;
    margin-top: 7em !important;
    background-color: #2a2b2aed;
  }
  
  .land h1 , .land p{
    color: var(--c3);
  }
.land-holder{
  background-color: #d0d1acd7 !important;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}
  .land-img{
    background-image: url(./imgs/company.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
    position: absolute;
  
  }

  .gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
  }
  .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  }
  .gallery .box .image {
    position: relative;
    overflow: hidden;
  }
  .gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  }
  .gallery .box .image:hover::before {
    animation: flashing 0.7s;
  }
  .gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
  }
  .gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
  }
  @keyframes flashing {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }

  .about-title{
    margin: 15vh;
  }

  .brand-name{
    color: var(--c1) !important;
    font-weight: 700;
  }

  .prg-home{
    color: var(--c1) !important;
    font-weight: 600;
  }

  .gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
  }
  .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  }
  .gallery .box .image {
    position: relative;
    overflow: hidden;
  }
  .gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  }
  .gallery .box .image:hover::before {
    animation: flashing 0.7s;
  }
  .gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
  }
  .gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
  }

  .p-img-6:hover{
    
    display: none;
  }
  footer{
    background-color: #1c2331;
  }
  section{
    background-color: var(--c2);
  }

  @keyframes moving-arrow {
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes flashing {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }

  .menuicon{
    color: white;
    font-size: 5vh;
  }
  
.features {
  padding-top:100px;
  padding-bottom:100px;
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.3s;
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.features .quality .img-holder::before {
  background-color:var(--c1);
}
.features .quality h2::after {
  background-color: var(--c1);
}
.features .quality a {
  color: var(--c1);
  border-color: var(--c1);
  background: linear-gradient(to right, var(--c1) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: var(--c2);
}
.features .time h2::after {
  background-color: var(--c2);
}
.features .time a {
  color: var(--c2);
  border-color: var(--c2);
  background: linear-gradient(to right, var(--c2) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color:var(--c3);
}
.features .passion h2::after {
  background-color:var(--c3);
}
.features .passion a {
  color:var(--c3);
  border-color:var(--c3);
  background: linear-gradient(to right,var(--c3) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}


.about .about-content {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--c2);
  border-bottom: 80px solid var(--c1);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--c1);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}